@charset "UTF-8";

body {
    background-color: rgb(57, 203, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(9, 123, 85);
}
#principal {
    text-align: center;
}
h2 {
    color: rgb(69, 148, 122);
}
.basico {
     color: green;
}
.intermediario {
     color: yellow;
}
.avancado {
    color: red;
}